In [ ]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/Shareddrives/modoulo3-grupo3/Base Colaboradores Everymind_Inteli_2020 a 2022vModelo Preditivo.xlsx', 'Everymind')

df

,Matrícula,Nome Completo,Dt Admissao,Dt Saida,Tipo Saida,Cargo,Salario Mês,Dt Nascimento,Genero,Etnia,Estado Civil,Escolaridade,Estado,Cidade,Area
0,367.0,Pessoa Colaboradora 32,01/02/2022,NaT,NaN,Comercial Pl,2000.000,1982-02-22,Feminino,Branca,Solteiro,Graduação,SP,São Paulo,Vendas
1,20.0,Pessoa Colaboradora 287,2009-04-01 00:00:00,2021-10-29,Pedido de Demissão,Dev Especialista,4406.965,1981-06-16,Masculino,Branca,Solteiro,Graduação,SP,Santos,AMS
2,33.0,Pessoa Colaboradora 349,2018-01-23 00:00:00,2021-11-12,Pedido de Demissão,Dev Especialista,4627.315,1980-12-24,Masculino,Não Informada,Casado,Graduação,SP,São Paulo,Core & Industrias I
3,43.0,Pessoa Colaboradora 285,2018-04-23 00:00:00,2020-02-21,Pedido de Demissão,Dev Especialista,4858.615,1987-06-01,Masculino,Amarela,Solteiro,Graduação,SP,Guarulhos,Core & Industrias I
4,75.0,Pessoa Colaboradora 421,2019-03-19 00:00:00,2020-01-17,Pedido de Demissão,Dev Especialista,837.785,1970-10-26,Masculino,Não Informada,Casado,Pós Graduação,SP,São Paulo,Vendas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,437.0,Pessoa Colaboradora 121,21/03/2022,NaT,NaN,Trainee - Dev,1017.000,1994-10-19,Masculino,Branca,Solteiro,Graduação,SP,Santos,Core & Industrias II
471,494.0,Pessoa Colaboradora 214,01/07/2022,NaT,NaN,Trainee - Funcional,1017.000,2000-05-04,Masculino,Branca,Solteiro,Superior incompleto,SP,Sorocaba,AMS
472,350.0,Pessoa Colaboradora 8,08/12/2021,NaT,NaN,Trainee - Funcional,1017.000,1995-01-31,Feminino,Branca,Casado,Graduação,PR,Catanduvas,CPG & Retail I
473,389.0,Pessoa Colaboradora 228,14/02/2022,NaT,NaN,Trainee - Funcional,1017.000,1978-04-09,Feminino,Parda,Casado,Graduação,PB,João Pessoa,Core & Industrias I
474,271.0,Pessoa Colaboradora 69,01/06/2021,NaT,NaN,Vice Presidente,14282.245,1975-10-23,Masculino,Branca,Casado,Graduação,SP,São Bernardo do Campo,Vendas

In [ ]:
df['Cargo'].unique()

array([' Comercial Pl', ' Dev Especialista', ' Dev Jr', ' Dev Pl',
       ' Dev Sr', ' Educação Pl', ' Financeiro Jr',
       ' Funcional Especialista', ' Funcional Jr', ' Funcional Pl',
       ' Funcional Sr', ' Infraestrutura Jr', ' Marketing PL',
       ' Pessoas Pl', ' Scrum Master Jr', ' Teste Jr', ' Teste Sr',
       'Arquiteto', 'Arquiteto Sr', 'Assistente I', 'Assistente II',
       'Auxiliar de Limpeza', 'Comercial IS', 'Consultor', 'Diretor',
       'Estagiaria', 'Gerente', 'Gerente CS Sr', 'Gerente PV',
       'Gerente Sr', 'Gerente Vendas I', 'Gerente Vendas II',
       'Gerente Vendas III', 'Trainee - Dev', 'Trainee - Funcional',
       'Vice Presidente'], dtype=object)

In [ ]:
today = date.today()

df.replace(to_replace={'Dt Saida':{np.nan:today}}, value=None)

,Matrícula,Nome Completo,Dt Admissao,Dt Saida,Tipo Saida,Cargo,Salario Mês,Dt Nascimento,Genero,Etnia,Estado Civil,Escolaridade,Estado,Cidade,Area
0,367.0,Pessoa Colaboradora 32,01/02/2022,2022-08-26,NaN,Comercial Pl,2000.000,1982-02-22,Feminino,Branca,Solteiro,Graduação,SP,São Paulo,Vendas
1,20.0,Pessoa Colaboradora 287,2009-04-01 00:00:00,2021-10-29 00:00:00,Pedido de Demissão,Dev Especialista,4406.965,1981-06-16,Masculino,Branca,Solteiro,Graduação,SP,Santos,AMS
2,33.0,Pessoa Colaboradora 349,2018-01-23 00:00:00,2021-11-12 00:00:00,Pedido de Demissão,Dev Especialista,4627.315,1980-12-24,Masculino,Não Informada,Casado,Graduação,SP,São Paulo,Core & Industrias I
3,43.0,Pessoa Colaboradora 285,2018-04-23 00:00:00,2020-02-21 00:00:00,Pedido de Demissão,Dev Especialista,4858.615,1987-06-01,Masculino,Amarela,Solteiro,Graduação,SP,Guarulhos,Core & Industrias I
4,75.0,Pessoa Colaboradora 421,2019-03-19 00:00:00,2020-01-17 00:00:00,Pedido de Demissão,Dev Especialista,837.785,1970-10-26,Masculino,Não Informada,Casado,Pós Graduação,SP,São Paulo,Vendas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,437.0,Pessoa Colaboradora 121,21/03/2022,2022-08-26,NaN,Trainee - Dev,1017.000,1994-10-19,Masculino,Branca,Solteiro,Graduação,SP,Santos,Core & Industrias II
471,494.0,Pessoa Colaboradora 214,01/07/2022,2022-08-26,NaN,Trainee - Funcional,1017.000,2000-05-04,Masculino,Branca,Solteiro,Superior incompleto,SP,Sorocaba,AMS
472,350.0,Pessoa Colaboradora 8,08/12/2021,2022-08-26,NaN,Trainee - Funcional,1017.000,1995-01-31,Feminino,Branca,Casado,Graduação,PR,Catanduvas,CPG & Retail I
473,389.0,Pessoa Colaboradora 228,14/02/2022,2022-08-26,NaN,Trainee - Funcional,1017.000,1978-04-09,Feminino,Parda,Casado,Graduação,PB,João Pessoa,Core & Industrias I
474,271.0,Pessoa Colaboradora 69,01/06/2021,2022-08-26,NaN,Vice Presidente,14282.245,1975-10-23,Masculino,Branca,Casado,Graduação,SP,São Bernardo do Campo,Vendas

In [ ]:
#from datetime import datetime

#df = pd.DataFrame
#d = {'Dt Admissao': [], 'Dt Saida': []}
#df = pd.DataFrame(data=d)

#Column_A = datetime.strptime(pd.DataFrame['Dt Admissao'], '%m %d %y').date()
#Column_B = datetime.strptime(pd.DataFrame['Dt Saida'], '%m %d %y').date()
#diff = Column_B - Column_A

#print(diff)

In [ ]:
df.plot(x="", y="Dt Admissao", kind="bar", rot=5, fontsize=4)

KeyError: ignored

In [ ]:
#Código para chamar a tabela Reconhecimento

df_reconhecimento = pd.read_excel('/content/drive/Shareddrives/modoulo3-grupo3/Base Colaboradores Everymind_Inteli_2020 a 2022vModelo Preditivo.xlsx', 'Reconhecimento')

df_reconhecimento

,Matricula,Codinome,Situação,Data de Admissão,Data Vigência,Novo Cargo,Novo Salario,Motivo,Alterou Função
0,170.0,Pessoa Colaboradora 161,Afastado,2020-08-17,2022-01-01,Gerente,6609.600,PROMOÇÃO,Sim
1,170.0,Pessoa Colaboradora 161,Afastado,2020-08-17,2021-07-01,Funcional Especialista,4500.000,PROMOÇÃO,Sim
2,173.0,Pessoa Colaboradora 78,Afastado,2015-05-19,2022-01-01,Funcional Especialista,6184.425,MÉRITO,Não
3,237.0,Pessoa Colaboradora 119,Afastado,2021-05-03,2022-05-01,Dev Jr,1719.050,MÉRITO,Não
4,237.0,Pessoa Colaboradora 119,Afastado,2021-05-03,2022-01-01,Dev Jr,1494.825,PROMOÇÃO,Sim
...,...,...,...,...,...,...,...,...,...
334,274.0,Pessoa Colaboradora 392,Desligado,2021-06-01,2021-07-01,Diretor,11500.000,MÉRITO,Não
335,281.0,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-12-01,Dev Pl,3250.000,MÉRITO,Não
336,281.0,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-10-01,Dev Pl,2750.000,PROMOÇÃO,Sim
337,312.0,Pessoa Colaboradora 361,Desligado,2021-09-20,2022-02-01,Funcional Pl,3000.000,MÉRITO,Não
338,330.0,Pessoa Colaboradora 423,Desligado,2021-11-03,2022-04-01,Funcional Sr,4750.000,PROMOÇÃO,Sim

In [ ]:
#código para converter dentro da coluna "Situação" da tabela Reconhecimento os dados de "Afastado" para "Ativo"

ativo_reconhecimento = 'Ativo'

def situacao_afastado (col):
    return (col.str.replace('Afastado','Ativo'))
    
df_reconhecimento['Situação'] = situacao_afastado (df_reconhecimento.Situação)

df_reconhecimento

,Matricula,Codinome,Situação,Data de Admissão,Data Vigência,Novo Cargo,Novo Salario,Motivo,Alterou Função
0,170.0,Pessoa Colaboradora 161,Ativo,2020-08-17,2022-01-01,Gerente,6609.600,PROMOÇÃO,Sim
1,170.0,Pessoa Colaboradora 161,Ativo,2020-08-17,2021-07-01,Funcional Especialista,4500.000,PROMOÇÃO,Sim
2,173.0,Pessoa Colaboradora 78,Ativo,2015-05-19,2022-01-01,Funcional Especialista,6184.425,MÉRITO,Não
3,237.0,Pessoa Colaboradora 119,Ativo,2021-05-03,2022-05-01,Dev Jr,1719.050,MÉRITO,Não
4,237.0,Pessoa Colaboradora 119,Ativo,2021-05-03,2022-01-01,Dev Jr,1494.825,PROMOÇÃO,Sim
...,...,...,...,...,...,...,...,...,...
334,274.0,Pessoa Colaboradora 392,Desligado,2021-06-01,2021-07-01,Diretor,11500.000,MÉRITO,Não
335,281.0,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-12-01,Dev Pl,3250.000,MÉRITO,Não
336,281.0,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-10-01,Dev Pl,2750.000,PROMOÇÃO,Sim
337,312.0,Pessoa Colaboradora 361,Desligado,2021-09-20,2022-02-01,Funcional Pl,3000.000,MÉRITO,Não
338,330.0,Pessoa Colaboradora 423,Desligado,2021-11-03,2022-04-01,Funcional Sr,4750.000,PROMOÇÃO,Sim

In [ ]:
#Código para apagar da tabela Reconhecimento algumas colunas

df_reconhecimento = df_reconhecimento.drop('Matricula',  axis=1)
df_reconhecimento = df_reconhecimento.drop('Alterou Função',  axis=1)
df_reconhecimento = df_reconhecimento.drop('Motivo',  axis=1)
df_reconhecimento = df_reconhecimento.drop('Novo Cargo',  axis=1)


df_reconhecimento

,Codinome,Situação,Data de Admissão,Data Vigência,Novo Salario
0,Pessoa Colaboradora 161,Ativo,2020-08-17,2022-01-01,6609.600
1,Pessoa Colaboradora 161,Ativo,2020-08-17,2021-07-01,4500.000
2,Pessoa Colaboradora 78,Ativo,2015-05-19,2022-01-01,6184.425
3,Pessoa Colaboradora 119,Ativo,2021-05-03,2022-05-01,1719.050
4,Pessoa Colaboradora 119,Ativo,2021-05-03,2022-01-01,1494.825
...,...,...,...,...,...
334,Pessoa Colaboradora 392,Desligado,2021-06-01,2021-07-01,11500.000
335,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-12-01,3250.000
336,Pessoa Colaboradora 334,Desligado,2021-07-05,2021-10-01,2750.000
337,Pessoa Colaboradora 361,Desligado,2021-09-20,2022-02-01,3000.000
338,Pessoa Colaboradora 423,Desligado,2021-11-03,2022-04-01,4750.000

In [ ]:
table = pd.pivot_table(df_reconhecimento, values='Data de Admissão', index=['Codinome', 'Situação'],
    columns=['Data Vigência'], aggfunc=np.sum)
table

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:169: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  return getattr(obj, f)()

Empty DataFrame
Columns: []
Index: [(Pessoa Colaboradora 10, Ativo), (Pessoa Colaboradora 101, Ativo), (Pessoa Colaboradora 103, Ativo), (Pessoa Colaboradora 106, Ativo), (Pessoa Colaboradora 108, Ativo), (Pessoa Colaboradora 113, Ativo), (Pessoa Colaboradora 115, Ativo), (Pessoa Colaboradora 116, Ativo), (Pessoa Colaboradora 117, Ativo), (Pessoa Colaboradora 118, Ativo), (Pessoa Colaboradora 119, Ativo), (Pessoa Colaboradora 120, Ativo), (Pessoa Colaboradora 122, Ativo), (Pessoa Colaboradora 125, Ativo), (Pessoa Colaboradora 127, Ativo), (Pessoa Colaboradora 130, Ativo), (Pessoa Colaboradora 131, Ativo), (Pessoa Colaboradora 134, Ativo), (Pessoa Colaboradora 137, Ativo), (Pessoa Colaboradora 14, Ativo), (Pessoa Colaboradora 145, Ativo), (Pessoa Colaboradora 146, Ativo), (Pessoa Colaboradora 148, Ativo), (Pessoa Colaboradora 15, Ativo), (Pessoa Colaboradora 157, Ativo), (Pessoa Colaboradora 16, Ativo), (Pessoa Colaboradora 161, Ativo), (Pessoa Colaboradora 162, Ativo), (Pessoa Colaboradora 165, Ativo), (Pessoa Colaboradora 167, Ativo), (Pessoa Colaboradora 168, Ativo), (Pessoa Colaboradora 169, Ativo), (Pessoa Colaboradora 171, Ativo), (Pessoa Colaboradora 185, Ativo), (Pessoa Colaboradora 185, Desligado), (Pessoa Colaboradora 188, Ativo), (Pessoa Colaboradora 189, Ativo), (Pessoa Colaboradora 190, Ativo), (Pessoa Colaboradora 192, Ativo), (Pessoa Colaboradora 196, Ativo), (Pessoa Colaboradora 199, Ativo), (Pessoa Colaboradora 20, Desligado), (Pessoa Colaboradora 200, Ativo), (Pessoa Colaboradora 201, Ativo), (Pessoa Colaboradora 202, Ativo), (Pessoa Colaboradora 204, Ativo), (Pessoa Colaboradora 209, Ativo), (Pessoa Colaboradora 210, Ativo), (Pessoa Colaboradora 215, Ativo), (Pessoa Colaboradora 216, Ativo), (Pessoa Colaboradora 219, Ativo), (Pessoa Colaboradora 22, Ativo), (Pessoa Colaboradora 221, Ativo), (Pessoa Colaboradora 223, Ativo), (Pessoa Colaboradora 224, Ativo), (Pessoa Colaboradora 227, Ativo), (Pessoa Colaboradora 23, Ativo), (Pessoa Colaboradora 230, Ativo), (Pessoa Colaboradora 231, Ativo), (Pessoa Colaboradora 233, Ativo), (Pessoa Colaboradora 236, Ativo), (Pessoa Colaboradora 238, Ativo), (Pessoa Colaboradora 24, Ativo), (Pessoa Colaboradora 242, Ativo), (Pessoa Colaboradora 243, Ativo), (Pessoa Colaboradora 244, Ativo), (Pessoa Colaboradora 246, Ativo), (Pessoa Colaboradora 247, Ativo), (Pessoa Colaboradora 250, Ativo), (Pessoa Colaboradora 253, Ativo), (Pessoa Colaboradora 258, Ativo), (Pessoa Colaboradora 260, Ativo), (Pessoa Colaboradora 261, Ativo), (Pessoa Colaboradora 265, Ativo), (Pessoa Colaboradora 267, Ativo), (Pessoa Colaboradora 269, Ativo), (Pessoa Colaboradora 270, Ativo), (Pessoa Colaboradora 272, Ativo), (Pessoa Colaboradora 273, Ativo), (Pessoa Colaboradora 274, Ativo), (Pessoa Colaboradora 275, Ativo), (Pessoa Colaboradora 277, Ativo), (Pessoa Colaboradora 279, Ativo), (Pessoa Colaboradora 282, Ativo), (Pessoa Colaboradora 287, Desligado), (Pessoa Colaboradora 29, Ativo), (Pessoa Colaboradora 290, Desligado), (Pessoa Colaboradora 291, Desligado), (Pessoa Colaboradora 293, Desligado), (Pessoa Colaboradora 295, Desligado), (Pessoa Colaboradora 296, Desligado), (Pessoa Colaboradora 30, Ativo), (Pessoa Colaboradora 316, Desligado), (Pessoa Colaboradora 322, Desligado), (Pessoa Colaboradora 324, Desligado), (Pessoa Colaboradora 328, Desligado), (Pessoa Colaboradora 33, Ativo), (Pessoa Colaboradora 334, Desligado), (Pessoa Colaboradora 335, Desligado), (Pessoa Colaboradora 336, Desligado), ...]

[174 rows x 0 columns]